body{

background:#0f172a;
font-family:Arial;
color:white;
text-align:center;

}

.container{

display:flex;
justify-content:center;
gap:40px;
margin-top:40px;

}

.card{

background:#1e293b;
padding:20px;
border-radius:10px;
width:450px;

}

table{

width:100%;
border-collapse:collapse;

}

th,td{

padding:10px;
border-bottom:1px solid #334155;

}

.alert{

color:red;
font-weight:bold;

}
